<div @key="@Guid.NewGuid()">
    @Ad
</div>

@code{
    private RenderFragment Ad = (b) =>
    {
        b.OpenElement(0, "ins");
        b.AddMultipleAttributes(1, new List<KeyValuePair<string, object>>()
        {
            new KeyValuePair<string, object>("class", "adsbygoogle"),
            new KeyValuePair<string, object>("style","display:block"),
            new KeyValuePair<string, object>("data-ad-client","ca-pub-9882496690289431"),
            new KeyValuePair<string, object>("data-ad-slot","1019938289"),
            new KeyValuePair<string, object>("data-ad-format", "auto"),
            new KeyValuePair<string, object>("data-full-width-responsive",true)
        });
        b.CloseElement();

        b.OpenElement(2,"script");
        b.AddContent(3, "(adsbygoogle = window.adsbygoogle || []).push({});");
        b.CloseElement();
    };
}