<h3>ValidateInviteCode</h3>

<div class="mb-3">
    <label class="form-label">Please type your Invite Code</label>
    <input type="text" class="form-control" @bind-value="@InviteCode" />
    <button type="button" @onclick="( async ()=> await OnValidateInviteCode())">Validate</button>
</div>
