<button type="button" class="btn btn-info rounded-circle" style="background-color:gold; color:black;"
        @onclick=OnClicked>
    <i class="bi bi-currency-dollar blink_me"></i>
</button>
@code
{
    [Parameter]
    public EventCallback<MouseEventArgs> OnClicked { get; set; }
}