<h3>MyVideos</h3>

<Loading IsLoading="IsLoading"></Loading>
<VisitorTracking></VisitorTracking>

<FairPlayTube.Components.Videos.VideoList AllVideos="AllVideos"
                                          AllowEdit="true" 
                                          AllowDelete="true"
                                          OnDelete="OnVideoDelete"></FairPlayTube.Components.Videos.VideoList>
