<h3>@Localizer[MyVideosTextKey]</h3>

<Loading IsLoading="IsLoading"></Loading>

<FairPlayTube.Components.Videos.VideoList AllVideos="AllVideos"
                                          AllowEdit="true" 
                                          AllowDelete="true"
                                          OnDelete="OnVideoDelete"></FairPlayTube.Components.Videos.VideoList>
