@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <button class="btn btn-info rounded-circle" @onclick="BeginLogout">
            <i class="bi bi-person-circle"></i>
            Logout
        </button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-info rounded-circle" @onclick="Login">
            <i class="bi bi-person-circle"></i>
            Login
        </button>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private void Login()
    {
        this.NavigationManager.NavigateTo("authentication/login");
    }
}