@inherits LayoutComponentBase
@inject Common.Configuration.AzureQnABotConfiguration AzureQnABotConfiguration
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <div class="mx-auto">
                <img class="img-thumbnail" src="images/ptilogo.png" style="height:45px;" />
            </div>
            <AuthorizeView>
                <Authorized>
                    <FairPlayTube.Client.CustomComponents.SignalR.NotificationHub></FairPlayTube.Client.CustomComponents.SignalR.NotificationHub>
                </Authorized>
            </AuthorizeView>
            <LoginDisplay></LoginDisplay>
        </div>

        <div class="content px-4" style="height:95%; overflow-y:auto;">
            @Body
        </div>

        <footer id="" class="footer mt-auto py-3 bg-light position-fixed w-100 bottom-0"
                style="background-color: #f7f7f7 !important; border-bottom: 1px solid #d6d5d5 !important;">
            <div class="container">
                <a class="text-black-50" href="https://cr.linkedin.com/in/pticostarica" target="_blank">Designed by PTI Costa Rica</a>
            </div>
        </footer>

    </div>
</div>

@if (this.ShowSupportBot)
{
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Knowledge Base</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" @onclick="CloseSupportBot">
                        <i class="bi bi-x-circle-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row row-cols-2">
                        <FairPlayTube.Components.Bootstrap.Card Width="100%">
                            <CardBody>
                                <iframe src='https://webchat.botframework.com/embed/fptubeprodbot?s=@AzureQnABotConfiguration.Key'
                                        style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
                            </CardBody>
                        </FairPlayTube.Components.Bootstrap.Card>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="CloseSupportBot">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code{
        [CascadingParameter]
        private Task<AuthenticationState> AuthenticationStateTask { get; set; }
        [Inject]
        private NavigationManager NavigationManager { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!this.NavigationManager.Uri.EndsWith(Common.Global.Constants.UserPagesRoutes.ValidateInviteCode) &&
            this.AuthenticationStateTask != null)
        {
            var state = await AuthenticationStateTask;
            if (state != null && state.User != null && state.User.Identity.IsAuthenticated)
            {
                var userStatus = state.User.Claims.Where(p => p.Type == "UserStatus").Single();
                if (userStatus.Value != "Approved")
                    NavigationManager.NavigateTo(Common.Global.Constants.UserPagesRoutes.ValidateInviteCode);
            }
        }
    }

    private bool ShowSupportBot { get; set; } = false;

    private void OpenSupportBot()
    {
        this.ShowSupportBot = true;
    }

    private void CloseSupportBot()
    {
        this.ShowSupportBot = false;
    }
}