<VisitorTracking></VisitorTracking>
<div class="container">
        <div class="mb-3">
            <label class="form-label">Available Funds</label>
            @AvailableFunds.ToString("0.##")
        </div>
    <div class="mb-3">
        <FairPlayTube.Client.CustomComponents.Paypal.PaypalCheckout OnFundsAdded="OnFundsAdded"></FairPlayTube.Client.CustomComponents.Paypal.PaypalCheckout>
    </div>
</div>
