@page "/"

<h1>Welcome to FairPlayTube</h1>

<div class="card">
    <div class="card-header">What is FairPlayTube?</div>
    <div class="card-body">
        FairPlayTube is the next generation of video sharing portal with a focus on users and transparency
    </div>
</div>
