<h3>MyVideos</h3>

<Loading IsLoading="IsLoading"></Loading>
@*<VisitorTracking></VisitorTracking>*@

<FairPlayTube.Components.Videos.VideoList AllVideos="AllVideos"
                                          AllowEdit="true"></FairPlayTube.Components.Videos.VideoList>
