@using FairPlayTube.MauiBlazor.Features.LogOn
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (!UserState.UserContext.IsLoggedOn)
            {
                <button class="btn btn-primary" @onclick="@( async () => await OnLoginClicked())">Sign In</button>
            }
        </div>

        <article class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @if (!UserState.UserContext.IsLoggedOn)
                    {
                        <button class="btn btn-primary" @onclick="@( async () => await OnLoginClicked())">Sign In</button>
                    }
                    @Body
                </ChildContent>
                <ErrorContent>
                    An error is there: @context.ToString()
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

@code {
    [Inject]
    private LocalizationClientService LocalizationClientService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LocalizationClientService.LoadData();
    }
}