@if (this.AllVideos != null)
{
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            @foreach (var singleVideo in this.AllVideos)
            {
                <div class="col">
                    <Video AllowEdit="AllowEdit" AllowDelete="AllowDelete" VideoModel="singleVideo" ShowDetailsLink="true" OnDelete="OnDelete"></Video>
                </div>
            }
        </div>
    </div>
}