@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if (!UserState.UserContext.IsLoggedOn)
        {
            <button class="btn btn-primary" @onclick="@( async () => await OnLoginClicked())">Sign In</button>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
